body{


width: 100%;
margin: 0%;
background-image: url(img/test.jpg);

}
header{
    margin-bottom: 0
  
}
.head1{

 
 width: 50%;
flex: 1;

}

.logo{
    margin-left: 50px;
  
}
.logo:hover{
   
   transition: transform 1s; 
   transform: rotate(-15deg);

}
.container, .container2{
/*position: top;*/
position: relative;
background: #c9c9c9;
display: flex;
flex-direction: row;
width: 90%;

margin-left:5.125%;



}


.menu1{
width: 50%;
margin-top: 17px;

flex: 3;

 }





nav{
    
   
    margin-right: 50px;

}
nav ul{

    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;

}


nav ul li{
margin-right: 30px;


}


nav ul li a{

    text-decoration: none;
    color: black;
    text-align: center;
    display: block;
    padding: 10px;
    font-size: 18px;
    margin-right: 18px;
}
nav a:hover{
transform: scale(1.18); /*When user hovers to items eg. C.V., Bio. etc changes the scale*/
  text-shadow: 2px 2px 2px black, 0 0 25px green, 0 0 5px gray;

transition: transform 1s;


}

@media screen and (max-width:1150px){

    .container{
        display: flex;
        flex-direction: column;
    
    }
    .head1{
        width: 50%;
        flex:1;
    }

   .logo{
    width: 90%;
    margin-left: 50%;
   }
.menu1{
    font-family: tahoma;
    font-size: 40px;
    

}

   nav {
    width: 90%;
   }
    nav ul{
        text-align: center;
        flex-direction: column;


    }
    nav ul li{
        

        width: 100%;
    }
    nav ul li a{
        width: 90%;
        margin-left: 100px;
        text-align: center;
    }

}
    



























    




