body{
	
	background: white;
}
section{
	margin-left: 25%;
	width: 53.40%;
	background: #f6f6f6;
}
.reop1{
	text-align: center;
}
.repo2{
	width: 100%;
}
.repo3{
	width: 100%;
}
.repo4 img{
	width: 100%;
}
.speed{
	width: 100%;
}